{% extends "index.html" %}

{% block content %}
  <h1>Your Saved Events</h1>

  {% if saved_events %}
    <ul>
      {% for event in saved_events %}
        <li class="eventsCard card bg-secondary text-white p-3 mb-3">
          <h3>
            <a href="{{ event.url }}" target="_blank">{{ event.name }}</a>
          </h3>
          {% if event.image %}
          <img src="{{ event.image }}" alt="{{ event.name }}">
          {% endif %}
          
          <p><strong>Date:</strong> {{ event.date }} | <strong>Venue:</strong> {{ event.venue }}</p>
          {% if event.notes %}
            <p><strong>Notes:</strong> {{ event.notes }}</p>
          {% endif %}
          <p>
            <a href="{% url 'edit_event' event.id %}">Edit</a> |
            <a href="{% url 'delete_event' event.id %}" onclick="return confirm('Are you sure you want to delete this event?');">Delete</a>
          </p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You have no saved events yet. Try saving an event from your search results!</p>
  {% endif %}
{% endblock %}


